@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Poppins, san-serif;
  font-size: 16px;
  color: white;
  background-color: #151515;

  --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

body,
.bill {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar,
.bill::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #d9d9d9 0.89%,
    #f0e3ca 17.23%,
    #a98e77 42.04%,
    #ceb6a1 55.12%,
    #d9d9d9 71.54%,
    #cfb299 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-cf-gradient {
  background: linear-gradient(144.39deg, #9f643d -278.56%, #ffffff -78.47%, #9f643d 91.61%);
}

.bg-black-gradient {
  background: linear-gradient(-168.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.sidebar {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.picture {
  outline: 0.25rem solid #d9d9d9;
  border: 0.8rem solid rgba(255, 255, 255, 0.9);
  display: inline-block;
}

.btn-sub {
  padding: 0.5rem 2rem;
  background-color: transparent;
  border: 1.5px solid #cfb299;
  border-radius: 10px;
  transition: all 400ms ease-in-out;
}

.btn-sub:hover {
  background-color: #a98e77;
  border-color: transparent;
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating > input {
  display: none;
}

.rating > label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: #ffd600;
  cursor: pointer;
}

.rating > label::before {
  content: '\2605';
  position: absolute;
  opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}

.rating > input:checked ~ label:before {
  opacity: 1;
}

.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: #cfb299;
  width: 0.5rem;
  height: 0.5rem;
}

.input-default {
  padding: 1.25rem;
  border: 2px solid rgba(169, 142, 119, 0.7);
  outline: none;
  background: transparent;
  border-radius: 0.375rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
}

.card {
  background: linear-gradient(144.39deg, #cfb299 -278.56%, #ffffff -78.47%, #cfb299 91.61%);
  padding: 0.75rem;
  border: 3px solid #9f643d;
  color: #131313;
  border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
